In [20]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [21]:
#   Discrete samples of 13C fixation rates 
#   CMORE/BLOOMER 
#   Ocean Microbial Ecology Laboratory 
#   Ricardo Letelier
#
#   original file: White_KM0715_Summary.xls 
#   originally ingested into BCO-DMO: September 28, 2009 
#   updated : Feb 11 2011 (ancillary columns added - data not changed) 
#   date updated: December 7, 2011 (format change only - data values unchanged)

In [22]:
c13_fix = pd.read_csv('13C.txt')

c13_fix.head(2)

,date,lat,lon,sta,depth,C_fix,C_fix_stderr,C_fix_lt_10um,C_fix_lt_10um_stderr,C_fix_gt_10um,activity_and_comments
0,20070812,23.841,-159.239,5,5,27.67,2.20,24.82,21.95,2.85,-9999.0
1,20070812,23.841,-159.239,5,25,39.64,26.18,38.88,9.16,0.76,-9999.0

In [23]:
c13_fix['date'] = pd.to_datetime(c13_fix['date'], format='%Y%m%d') # Set time to datetime

In [24]:
c13_fix.head(2)

,date,lat,lon,sta,depth,C_fix,C_fix_stderr,C_fix_lt_10um,C_fix_lt_10um_stderr,C_fix_gt_10um,activity_and_comments
0,2007-08-12,23.841,-159.239,5,5,27.67,2.20,24.82,21.95,2.85,-9999.0
1,2007-08-12,23.841,-159.239,5,25,39.64,26.18,38.88,9.16,0.76,-9999.0

In [ ]:
sns.