In [1]:
print "Hello World" # Kill the whitespace effect

Hello World

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("white")
sns.set_style("ticks")
sns.despine()

# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [3]:
billboard = pd.read_csv('../assets/billboard.csv')

In [4]:
billboard.head(2)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
billboard.tail(2)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
pd.unique(billboard.year) # Count unique items in the year section of the array

array([2000])

In [53]:
#len(pd.unique(billboard.track)) # Determine number of unique tracks (316)
#len(pd.unique(billboard.genre)) # Determine unique genres (11)
pd.unique(billboard.genre)      # R&B shows up twice (R&B and R&B\n)
#pd.unique(billboard.genre)      # Show names of unique genres

#billboard.groupby(['genre', 'time'])['time'].count()

array(['Rock', 'Latin', 'Country', 'Rap', 'Pop', 'Electronica', 'Jazz',
       'R&B', 'R&B\n', 'Reggae', 'Gospel'], dtype=object)

In [49]:
pd.unique(billboard.datepeaked)

array(['2000-11-18', '2000-04-08', '2000-01-29', '2000-09-16',
       '2000-10-14', '2000-08-26', '2000-03-18', '2000-06-24',
       '2000-08-12', '2000-03-04', '2000-07-29', '2000-01-15',
       '2000-07-15', '2000-11-11', '2000-06-17', '2000-07-22',
       '2000-02-19', '2000-04-22', '2000-12-02', '2000-12-30',
       '2000-05-06', '2000-06-03', '2000-09-30', '2000-08-19',
       '2000-05-20', '2000-07-01', nan, '2000-02-12', '2000-04-15',
       '2000-11-25', '2000-12-09', '2000-01-22', '2000-01-08',
       '2000-09-02', '2000-10-07', '2000-09-09', '2000-06-10',
       '2000-02-05', '2000-10-28', '2000-02-26', '2000-04-01',
       '2000-05-27', '2000-07-08', '2000-01-01', '2000-05-13',
       '2000-12-16', '2000-11-04', '2000-03-25', '2000-12-23',
       '2000-10-21', '2000-09-23', '2000-08-05', '2000-03-11', '2000-04-29'], dtype=object)

In [21]:
sevsixrng = range(1,77)        # Create list of range from 1 - 76

strssrng = map(int,sevsixrng)  # map list to str


billboard_wksubset = billboard.index(sevsixrng)

TypeError: 'RangeIndex' object is not callable

In [23]:
 

billboard.describe()  # Find the mean for all the weeks present
# billboard['x2nd.week'].mean() #71.17307692307692

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Create a data dictionary for the data set.

In [54]:
datadict = {
    'datadesc' : 'Billboard top tracks for the year 2000',
    'year' : 'The year the track was released',
    'artist.inverted' : 'Name of the artist, inverted',
    'track' : 'Name of the track',
    'time' : 'Length of track in minutes:seconds',
    'genre' : {
        'Rock' : 'Rock and Roll',
        'Latin' : 'Spanish language specific music',
        'Country' : 'American Popular Music, Roots in Folk/Western',
        'Rap' : 'Rythmn and Poetry',
        'Electronica' : 'Electronic-Based (Synthesizer) Music',
        'Jazz' : 'Swing Note/Improvisation Based Music',
        'Reggae' : 'Music insipred by Mento and Calypso',
        'Gospel' : 'Christian Music' 
              },
    'dateentered' : 'Date the track was entered into Billboard',
    'datepeaked' : 'Date the Song Reached It\'s Highest Position on Billboard Chart'
}

##### Write a brief description of your data, and any interesting observations you've made thus far.

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, fill in any missing values.

In [55]:
for col in columns:
    if any([x in col for x in ['$','&','%','#','.','x']]):
        newcol = ''.join([x for x in col if x not in ['$','&','%','#','.','x']])
        billboard.rename(columns={col:newcol}, inplace=True)

billboard.head(2)

,year,artistinverted,track,time,genre,dateentered,datepeaked,1stweek,2ndweek,3rdweek,...,67thweek,68thweek,69thweek,70thweek,71stweek,72ndweek,73rdweek,74thweek,75thweek,76thweek
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [48]:
pd.melt(billboard, value_vars=['track'])

    variable                                              value
0      track                           Independent Women Part I
1      track                                       Maria, Maria
2      track                                 I Knew I Loved You
3      track                                              Music
4      track              Come On Over Baby (All I Want Is You)
5      track                              Doesn't Really Matter
6      track                                        Say My Name
7      track                                        Be With You
8      track                                         Incomplete
9      track                                             Amazed
10     track                                   It's Gonna Be Me
11     track                                  What A Girl Wants
12     track                                Everything You Want
13     track                                With Arms Wide Open
14     track                                          Try Again
15     track                                               Bent
16     track                              Thank God I Found You
17     track                                            Breathe
18     track                  Case Of The Ex (Whatcha Gonna Do)
19     track                                     He Loves U Not
20     track                               He Wasn't Man Enough
21     track                                     You Sang To Me
22     track                 Give Me Just One Night (Una Noche)
23     track                                    Jumpin' Jumpin'
24     track                                         Kryptonite
25     track                                         Thong Song
26     track                                      I Turn To You
27     track                               My Love Is Your Love
28     track                                       I Wanna Know
29     track                                 Get It On.. Tonite
..       ...                                                ...
287    track  The Hardest Part Of Breaking Up (Is Getting Ba...
288    track                                 Don't Call Me Baby
289    track                                         Got It All
290    track                                        Re-Arranged
291    track                                  Still In My Heart
292    track                                     3 Little Words
293    track                         If You Don't Wanna Love Me
294    track                                         Baby U Are
295    track                                          L.A. Song
296    track                                  The Quittin' Kind
297    track                                             Do You
298    track                                 Love Sets You Free
299    track                                             Riddle
300    track                                           No Mercy
301    track                                     I'm Outta Love
302    track                                          Pull Over
303    track                                              Ta Da
304    track                                      Dancing Queen
305    track                                   Where I Wanna Be
306    track                                          All Good?
307    track                                             Get Up
308    track                                     Spanish Guitar
309    track                                             I Know
310    track                                       Imagine That
311    track                                            Souljas
312    track                                   Cherchez LaGhost
313    track                                        Freakin' It
314    track                                      Kernkraft 400
315    track                                           Got Beef
316    track                                     Toca's Miracle

[317 rows x 2 columns]

## Step 3: Visualize your data.

##### Using a plotting utility of your choice, create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for roughly 800-1,000 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 600 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.

[UCLA - Data Cleaning 101](http://www.ats.ucla.edu/stat/sas/library/nesug99/ss123.pdf)  
[Data Cleaning Problems and Current Approach](http://betterevaluation.org/sites/default/files/data_cleaning.pdf)  
[Data Cleaning: Detecting, Diagnosing, and Editing Data Abnormalities](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1198040/pdf/pmed.0020267.pdf)  
[Microsoft - Data Cleaning](http://research.microsoft.com/en-us/projects/datacleaning/)  
[Panda Chapter 2 - Data Cleaning](http://www.tulane.edu/~panda2/Analysis2/datclean/dataclean.htm)  
[StatsSoft Data Mining, Data Cleaning & Outliers](https://www.youtube.com/watch?v=06jBp-vfqqs)

# From Dirty to Clean
## The Importance of Clean Data in Analysis


### Introduction

Data collection has improved substantially over the past decade. Unfortunately this data is largely fragmented. Many different organizations have different methods of organizing and categorizing their data. 

In order to present data that is acceptable for analysis and presentation organizations must have an internal documented process for the collection and standardization of their data. If that is not present, then when looking at the data care must be preserved to remove unreliable data, and convert data from multiple sources into a clean consistent format

### Background



### Solution

Through the